* {
  box-sizing: border-box;
}
html, body {
  height: 100%;
  margin: 0;
  color: white;
  font-family: 'Jura', sans-serif;
}
.bg {
  background-image: url("https://s3.ap-south-1.amazonaws.com/maprojekts/chiwoniso.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  -moz-background-size: cover;
  background-attachment: fixed;
}
.wrapper {
  display: flex;
  flex-flow: column wrap;
  margin-left: 5.7%;
}
.name-and-life {
  margin-left: 1.4%;
  font-size: 1.2em;
}
#her-name {
  font-size: 1.8em;
  font-family: 'Chewy', cursive;
}
.mbira > a {
  background: #C1C1C1;
  border-radius: 3px;
  color: black;
  text-decoration: none;
}
.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 150%;
  left: 70%;
  margin-left: -60px;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: black transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}
.fa {
  margin: 2px 0 0 2px;
}
.quote, .bio {
  width: 50%;
  margin: 10px;
  padding: 10px;
  background-color: rgb(242, 153, 9);
  background-color: rgba(242, 153, 9, 0.88);
  border-radius: 4px;
  font-size: 1.2em;
}
.bio {
  width: 70%;
}
.funfact {
  width: 90%;
  border-left: 4px orange solid;
  border-radius: 4px;
  background-color: rgb(237, 239, 242);
  background-color: rgba(237, 239, 242, 0.5);
  font-size: 1.1em;
}
.btn {
  margin: 10px;
  border-radius: 4px;
  background-color: transparent;
  color: orange;
  width: 35%;
  height: 50px;
  font-size: 25px;
  text-align: center;
  transition: all 0.5s;
  cursor: pointer;
}
.btn span a {
  color: orange;
  text-decoration: none;
}
.btn span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.btn span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.btn:hover span {
  padding-right: 25px;
}

.btn:hover span:after {
  opacity: 1;
  right: 0;
}
.dyk {
  font-size: 1.2em;
  text-decoration: underline;
}
footer {
  font-size: 1.2em;
  text-align: center;
  margin-bottom: 15px;
}
footer p > a {
  text-decoration: underline;
  color: orange;
}
